.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 600px));
  grid-gap: 50px;
  margin: 0 auto;
  justify-content: space-around;
}
.article {
  background-color: #3a3f44;
  border-radius: 10px;
}
.article-body {
  text-decoration: none;
}
.article-body h4 {
  background-color: #515960;
  border-color: #2c3134;
  color: #fdfdf5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
  font-family: "Libre Franklin", Sans-Serif;
  line-height: 2rem;
  font-size: 1.2rem;
}
.text {
  padding: 10px 15px;
  font-family: "Average Sans", Sans-Serif;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  color: #c7c7c7;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: #93c1d1;
}
.author {
  font-style: italic;
}
.article:hover,
.article:focus {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.article:active {
  opacity: 0.8;
  transition: opacity 0.15s ease-out;
}

dt {
  margin: 0.5rem 0;
  font-weight: 500;
}
.header {
  margin: 3rem auto 2rem auto;
  font-family: "Average Sans", Sans-Serif;
  padding: 0px 5px;
}

@media only screen and (min-width: 960px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(370px, 650px));
    grid-gap: 80px;
    justify-content: space-between;
  }
  .header {
    margin: 3rem auto 2rem auto;
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1440px) {
  .text {
    padding: 10px 22px;
    font-size: 1.4rem;
  }
  .article-body h4 {
    height: 6.5rem;
    font-size: 1.8rem;
    padding: 10px 22px;
  }
  .flex-row dt {
    font-size: 1.4rem;
    /* width: 1rem; */
  }
  .header {
    margin: 6rem auto 4rem auto;
    font-size: 2rem;
  }
}
