.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2vh -15px 0rem -15px;
  align-items: center;
  background-color: #515960;
  border-color: #2c3134;
  padding: 2vh 2vh 2vh 2vh;
  border-radius: 6px;
}
.form {
  margin: 0 auto;
}

.form input {
  border-radius: 6px;
  border: #515960;
  margin: 0 10px;
  padding: 3px 6px;
}

@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1440px) {
  .form input {
    margin: 0 10px;
    padding: 4px 50px;
  }
  .formContainer img {
    width: 40px;
    height: 40px;
  }
  .formContainer {
    margin: 3rem -60px 0rem -60px;
  }
}
