.user-container {
  margin: 10vh auto;
  max-width: 700px;
  display: block;
  background-color: #3a3f44;
  padding: 10px 15px;
  border-radius: 10px;
}

.user-container label {
  background-color: #515960;
  border-color: #2c3134;
  color: #7ac6df;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 5rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 2.5vh;
  font-family: "Goudy Bookletter 1911", Serif;
  margin: -10px -15px;
}
.user-container select {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5vh auto;
  width: 15vh;
  height: 3vh;
  font-size: 1rem;
  color: #3a3f44;
  border-radius: 10px;
}
.user-container option {
  font-size: 1rem;
  color: #454a50;
}
@media only screen and (min-width: 960px) {
  .user-container select {
    font-size: 1rem;
  }
  .user-container option {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  .user-container select {
    font-size: 1.1rem;
  }
  .user-container option {
    font-size: 1.1rem;
  }
  .user-container label {
    height: 7rem;
    font-size: 1.8rem;
  }
}
.btn {
  border-color: rgba(0, 0, 0, 0.6);
  /* text-shadow: 1px 1px 1px rgb(0 0 0 / 30%); */
}
.btn-light {
  color: #000;
  background-color: #e9ecef;
  margin: 0 auto;
}

.btn {
  display: flex;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  border-radius: 6px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
